@using System.Threading
@using System.Web.Optimization
@using HelpDesk.WebApp.Helpers
@using HelpDesk.WebApp.Resources
@model HelpDesk.WebApp.Models.AppLayoutModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@Resource.AppName</title>

    <link rel="shortcut icon" href="~/favicon.ico">

    @Styles.Render("~/Bundles/App/vendor/css")
    @Styles.Render("~/Bundles/App/Main/css")
    @Styles.Render("~/Content/jQuery-File-Upload")
    
    
    <script type="text/javascript" src="@Url.Content("~/App/Resources/jsResource.js?"+Guid.NewGuid())"></script>
    @Scripts.Render("~/Bundles/App/vendor/js")
    @Scripts.Render("~/bundles/jQuery-File-Upload")

    <script type="text/javascript" src="@Url.Content("~/Scripts/vakata-jstree/dist/jstree.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/vakata-jstree/dist/themes/default/style.min.css")" />
    
    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    
    @Scripts.Render("~/Bundles/App/Main/js")
    <script>
        var culture = '@ViewBag.CurrentCulture';
        var menu = @Html.ToJson((IDictionary<string, string>)ViewBag.Menu);

    </script>

    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            
            
        }
        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 0 -80px 0; /* отрицательный нижний отступ на высоту футера */
            padding: 0;
        }
        .footer-push, .footer {
            height: 80px;
            margin: 0;
            padding-top: 20px;
        }

        .footer {
            background-color: #e7e7e7;
            vertical-align:middle;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div ng-app="app">

            <div ng-controller="app.views.layout as vm">

                <div ng-include="vm.headerTempleteUrl"></div>

                <div>
                    <div ui-view></div>
                </div>
            </div>

        </div>
        <div class="footer-push"></div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    @if (!String.IsNullOrWhiteSpace(Model.ManualUrl))
                    {
                        <li><a href="@Model.ManualUrl?@Guid.NewGuid()">@Resource.Text_ManualUrl</a></li>
                    }

                    @if (!String.IsNullOrWhiteSpace(Model.ServiceLevelAgreementUrl))
                    {
                        <li><a href="@Model.ServiceLevelAgreementUrl">@Resource.Text_ServiceLevelAgreementUrl</a></li>
                    }
                </ul>
            </div>

            <div class="col-md-6 right">
                <ul>
                    <li>@Html.Raw(@Resource.Text_Copyright)</li>

                    @if (!String.IsNullOrWhiteSpace(Model.TechSupportPhones))
                    {
                        <li>@Resource.Text_TechSupportPhones: @Model.TechSupportPhones</li>
                    }
                </ul>
                
            </div>
        </div>
    </div>
   
</body>
</html>
