@using HelpDesk.WorkerWebApp.Resources
@using HelpDesk.WorkerWebApp.Models


<div ng-controller="app.views.request.request as vm" style="width: 60%" class="center-block">
    <div ng-show="vm.errors.ErrorGeneralMessage.Errors.length > 0 && vm.showAlert == true" class="alert alert-danger alert-dismissable">
        <button type="button" ng-click="vm.closeAlert()" class="close" data-hide="alert">&times;</button>
        <div ng-repeat="e in vm.errors.ErrorGeneralMessage.Errors">
            {{e.ErrorMessage}}
        </div>


    </div>

    <div ng-show="vm.newRequestId > 0 && vm.showAlert == true" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" ng-click="vm.closeAlert()" class="close" data-hide="alert">&times;</button>
        @Resource.Message_RequestComplete - <span style="font-size:14pt">№ {{vm.newRequestId}}</span>
    </div>

    <div style="width:100%; text-align:right"><span ng-show="vm.request.Id == 0">@Resource.Message_NewRequestCreate</span><span ng-show="vm.request.Id > 0">@Resource.Message_RequestEdit <span style="font-size:14pt">№ {{vm.request.Id}}</span></span></div>

    <div class="form-group">
        <label for="objectName">@Resource.Label_ObjectName:</label>
        <div ng-show="vm.newRequestId == 0 && vm.request.Id == 0" class="input-group">
            <input id="objectName"
                   class="form-control {{ {true: 'error', false: ''}[vm.errors.ObjectName !=null] }}"
                   autocomplete="true"
                   select="vm.selectEmployeeObject"
                   search="vm.getListEmployeeObject"
                   ng-model="vm.request.ObjectName"
                   placeholder="@String.Format(Resource.Placeholder_ObjectName, "")...">
            <span class="input-group-btn">
                <button ng-click="vm.openEmployeeObjectDictionary()" class="btn btn-secondary" type="button">...</button>
            </span>
        </div>
        <div ng-show="vm.newRequestId > 0 || vm.request.Id > 0">{{vm.request.ObjectName}}</div>
        <ul>
            <li class="error" data-ng-repeat="error in vm.errors.ObjectName.Errors">{{error.ErrorMessage}}</li>
        </ul>
    </div>

    <div class="form-group">
        <label for="descriptionProblem">@Resource.Label_DescriptionProblem:</label>
        <div ng-show="vm.newRequestId == 0">
            <textarea rows="4" class="form-control {{ {true: 'error', false: ''}[vm.errors.DescriptionProblem !=null] }}" id="descriptionProblem" ng-model="vm.request.DescriptionProblem"></textarea>
            <ul>
                <li class="error" data-ng-repeat="error in vm.errors.DescriptionProblem.Errors">{{error.ErrorMessage}}</li>
            </ul>

            <ul>
                <li class="error" data-ng-repeat="error in vm.errors.Worker.Errors">{{error.ErrorMessage}}</li>
            </ul>
        </div>

        <div ng-show="vm.newRequestId > 0">{{vm.request.DescriptionProblem}}</div>
    </div>



    @{Html.RenderPartial("~/App/Main/views/shared/fileUpload.cshtml",
                        new FileUploadModel()
                        {
                            BaseUrl = "/api/RequestFileUpload/Upload",
                            NgController = "app.views.request.fileUpload"
                        });}

    <div class="row">
        <div class="col-md-6" style="text-align: left">
            <button type="button" ng-show="vm.newRequestId == 0" ng-click="vm.save()" ng-disabled="vm.invalidForm() || vm.loadingFlag" class="btn {{ {true: 'btn-primary', false: 'btn-success'}[vm.invalidForm() == true] }}">
                {{ {true: '@Resource.Action_Update', false: '@Resource.Action_Save'}[vm.request.Id > 0] }}
            </button>
            <button type="button" ng-show="vm.newRequestId > 0" ng-click="vm.edit()" class="btn btn-primary">
                @Resource.Action_EditRequest
            </button>
            <button type="button" ng-show="vm.newRequestId > 0" ng-click="vm.delete()" class="btn btn-primary">
                @Resource.Action_DeleteRequest
            </button>
        </div>


        <div class="col-md-6" style="text-align: right">
            <button type="button" ng-click="vm.createNewRequest()" ng-disabled="vm.loadingFlag" class="btn btn-primary">@Resource.Action_NewRequest</button>
        </div>
    </div>
</div>