@using HelpDesk.CabinetWebApp.Resources

<div class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close({ cancel: true }, 300)" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resource.Label_AddTO</h4>
            </div>
            <div class="modal-body">

                <div>

                    <div ng-show="vm.errors.ErrorGeneralMessage.Errors.length > 0" class="alert alert-danger" role="alert">{{vm.errors.ErrorGeneralMessage.Errors[0].ErrorMessage}}</div>
                    
                    <div class="form-group">
                        <label for="post">@Resource.Label_ObjectType:</label>
                        
                        <select class="form-control" style="width: 100%" required ng-model="vm.requestObjectTO.ObjectTypeId"
                                ng-options="option.Id as option.Name for option in vm.objectTypes"></select>

                        <ul>
                            <li class="error" data-ng-repeat="error in vm.errors.ObjectType.Errors">{{error.ErrorMessage}}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="hardType">@Resource.Label_HardType:</label>
                        
                        <input id="hardType"
                            class="form-control {{ {true: 'error', false: ''}[vm.errors.HardType !=null] }}"
                            autocomplete="true"
                            select="vm.selectHardType"
                            search="vm.getListHardType"
                            ng-model="vm.requestObjectTO.HardTypeName"
                            placeholder="@Resource.Placeholder_HardType...">

                        <ul>
                            <li class="error" data-ng-repeat="error in vm.errors.HardTypeName.Errors">{{error.ErrorMessage}}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="manufacturer">@Resource.Label_Manufacturer:</label>

                        <input id="manufacturer"
                               class="form-control {{ {true: 'error', false: ''}[vm.errors.Manufacturer !=null] }}"
                               autocomplete="true"
                               select="vm.selectManufacturer"
                               search="vm.getListManufacturer"
                               ng-model="vm.requestObjectTO.ManufacturerName"
                               placeholder="@Resource.Placeholder_Manufacturer...">

                        <ul>
                            <li class="error" data-ng-repeat="error in vm.errors.ManufacturerName.Errors">{{error.ErrorMessage}}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="model">@Resource.Label_Model:</label>

                        <input id="model"
                               class="form-control {{ {true: 'error', false: ''}[vm.errors.Model !=null] }}"
                               autocomplete="true"
                               select="vm.selectModel"
                               search="vm.getListModel"
                               ng-model="vm.requestObjectTO.ModelName"
                               placeholder="@Resource.Placeholder_Model...">

                        <ul>
                            <li class="error" data-ng-repeat="error in vm.errors.ModelName.Errors">{{error.ErrorMessage}}</li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.save()" ng-disabled="vm.invalidForm()" class="btn {{ {true: 'btn-primary', false: 'btn-success'}[vm.invalidForm() == true] }}">@Resource.Action_Save</button>
                <button type="button" ng-click="vm.cancel()" class="btn btn-info fa-align-right">@Resource.Action_Cancel</button>
            </div>
        </div>
    </div>
</div>